.ansi-base16-railscasts-bright {

  .ansi-bright-black-fg, .ansi-black-fg {
    color: #000000;
  }

  .ansi-bright-red-fg, .ansi-red-fg {
    color: #fb0120;
  }

  .ansi-bright-green-fg, .ansi-green-fg {
    color: #00770A;
  }

  .ansi-bright-yellow-fg, .ansi-yellow-fg {
    color: #fda331;
  }

  .ansi-bright-blue-fg, .ansi-blue-fg {
    color: #6fb3d2;
  }

  .ansi-bright-magenta-fg, .ansi-magenta-fg {
    color: #d381c3;
  }

  .ansi-bright-cyan-fg, .ansi-cyan-fg {
    color: #76c7b7;
  }

  .ansi-bright-white-fg, .ansi-white-fg {
    color: #ffffff;
  }

  .ansi-bright-black-bg, .ansi-black-bg {
    background-color: #000000;
  }

  .ansi-bright-red-bg, .ansi-red-bg {
    background-color: #fb0120;
  }

  .ansi-bright-green-bg, .ansi-green-bg {
    background-color: #a1c659;
  }

  .ansi-bright-yellow-bg, .ansi-yellow-bg {
    background-color: #fda331;
  }

  .ansi-bright-blue-bg, .ansi-blue-bg {
    background-color: #6fb3d2;
  }

  .ansi-bright-magenta-bg, .ansi-magenta-bg {
    background-color: #d381c3;
  }

  .ansi-bright-cyan-bg, .ansi-cyan-bg {
    background-color: #76c7b7;
  }

  .ansi-bright-white-bg, .ansi-white-bg {
    background-color: #ffffff;
  }
}
