@import "bower_components/bitters/app/assets/stylesheets/variables";

$form-box-shadow-focus: $form-box-shadow;

$code-fg: #000000;
$code-bg: #F8F8F8;
$spinner-color: #E1E1E1;
$small-display: new-breakpoint(max-width 900px 12);
$dropdown-distance-from-menu: 50px;
$extended-text-inputs-list: '#{$text-inputs-list}',
                            '.CodeMirror';
$all-text-inputs: assign-inputs($extended-text-inputs-list);
