@import "bourbon";
@import "bitters/base";
@import "variables";
@import "dropdown";
@import "spinner";
@import "ansi-theme";
@import "hljs-line-numbers";

.tooltips {
  border-radius: 3px;
  background: shade($action-color, 20%);
  color: white;

  .tooltipster-content {
    font-size: 12px;
    line-height: 1;
    padding: 4px 4px;
  }
}


code {
  padding: 0.5em;
  display: block;
  overflow-y: auto;
  background-color: $code-bg;
}

#main {
  display: grid;
  grid-template-columns: repeat(12, 8.3fr);

  &.loading {
    .spinner {
      margin: 0 auto;
      width: 95%;
      position: absolute;
      left: 0;
      top: 45vh;
    }

    > h2 {
      display: none;
    }
  }

  > h2 {
    grid-column: 2 / span 10;
    @include margin(1.5em null);
  }

  &.run_request, &.run\.edit {
    > div {
      grid-column: 2 / span 10;
      grid-row-start: 2;
      margin-bottom: 1em;

      .CodeMirror {
        height: 70vh;
        font-family: monospace;
        font-size: 1.1em;
        border-color: $light-gray;

        .CodeMirror-gutter {
          background-color: white;
        }
      }

      &:focus {
        border: $base-border;
      }
    }

    #controls {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

      > div { // select
      }

      > button { // submit
        margin-left: 2%;
      }

      .dropdown {
        .dropdown-description, .dropdown-button {
          font-size: 1rem;
        }

        .dropdown-container {
          display: block;
        }

        button {
          color: $font-color--base;
        }

        .dropdown-menu {
          top: auto;
          bottom: $dropdown-distance-from-menu;
          overflow-y: auto;
          max-height: 80vh;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  &.run\.show {
    grid-column-gap: 2%;

    div.code, div.output {
      grid-column-end: span 5;
      grid-row-start: 2;
    }

    div.code {
      grid-column-start: 2;
      display: grid;

      > div.codeheading {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;

        h3 {
          margin-top: 3px;
        }
      }

      > div#controls {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        text-align: right;

        a {
          margin-top: 3px;
        }
      }

      > div.source {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;

        pre {
          margin: 0;
          height: 100%;
          background-color: $code-bg;
          code {
            padding-bottom: 0;
          }
        }
      }

      > div.metadata {
        grid-row: 3;
        grid-column-end: span 2;
        display: flex;
        background-color: darken($code-bg, 8%);
        font-size: 0.6em;
        padding: 0.5em;

        .created_at {
          flex-grow: 1;
        }

        .right_metadata {

          .exit_code {
            &:before {
              content: "Exited with: ";
            }

            &:after {
              content: " | "
            }
          }
        }
      }
    }

    @media ($small-display) {
      div.code, div.output {
        grid-column: 2 / span 10;
      }

      div.code {
        > div.codeheading {
          grid-column: 1 / span 2;
        }

        > div#controls {
          grid-row: 2 / span 1;
          grid-column: 1 / span 2;
          text-align: left;
        }

        > div.source {
          grid-row: 3 / span 1;
          margin-top: 1em;
        }

        > div.metadata {
          grid-row: 4 / span 1;
        }
      }

      div.output {
        grid-row-start: 3;

        margin-top: 1em;
      }
    }
  }
}
