@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "variables";
@import "bower_components/bitters/app/assets/stylesheets/forms";
@import "bower_components/bitters/app/assets/stylesheets/buttons";
@import "spinner";
@import "dropdown";
@import "ansi-theme";
@import "hljs-line-numbers";

code {
  padding: 0.5em;
  display: block;
  overflow-y: auto;
  background-color: $code-bg;
}

#main {
  @include outer-container;

  &.loading {
    .spinner {
      margin: 0 auto;
      width: 95%;
      position: absolute;
      left: 0;
      top: 45vh;
    }
  }

  &.run_request {
    @include span-columns(12);

    h2, textarea {
      @include shift(3);
    }


    h2 {
      @include span-columns(9);
    }

    textarea {
      @include span-columns(9);
      height: 70vh;
      margin-bottom: 1em;

      &:focus {
        border: $base-border;
      }
    }

    #language {
      @include span-columns(3);
      @include shift(7);
    }

    button {
      @include span-columns(2);
    }
  }

  &.run {
    div.code, div.output {
      @include span-columns(6);

      @include media($small-display) {
        @include span-columns(12);
      }

      h3, pre {
        @include span-columns(12);
      }
    }

    div.code {
      h3 {
        @include span-columns(3 of 6);
      }

      .new-link {
        @include span-columns(3 of 6);
        text-align: right;
        margin: 1.3em 0 1.3em 0;
        font-size: 0.9em;
        height: 1.55em;
      }

      pre {
        margin-bottom: 0;
      }

      @include direction-context(right-to-left) {
        .metadata {
          @include fill-parent();
          @include row(table);
          background-color: darken($code-bg, 10);
          font-size: 0.6em;
          padding: 0.5em;

          .created_at {
            @include span-columns(7);
            @include pad(0 default 0 0);
          }

          .right_metadata {
            @include span-columns(5);
            text-align: right;

            .exit_code {
              &:before {
                content: "Exited with: ";
              }

              &:after {
                content: " | "
              }
            }

            .language {
            }
          }
        }
      }
    }
  }
}
