@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "variables";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/bitters/app/assets/stylesheets/forms";
@import "bower_components/bitters/app/assets/stylesheets/buttons";
@import "spinner";
@import "dropdown";
@import "ansi-theme";
@import "hljs-line-numbers";

code {
  padding: 0.5em;
  display: block;
  overflow-y: auto;
  background-color: $code-bg;
}

#main {
  @include outer-container;

  &.loading {
    .spinner {
      margin: 0 auto;
      width: 95%;
      position: absolute;
      left: 0;
      top: 45vh;
    }
  }

  &.run_request, &.run\.edit {
    h2, #editor {
      @include shift(1);
    }

    h2 {
      @include span-columns(10);
    }

    #editor {
      @include span-columns(10);
      margin-bottom: 1em;

      .CodeMirror {
        height: 70vh;

        .CodeMirror-gutter {
          background-color: white;
        }
      }

      &:focus {
        border: $base-border;
      }
    }

    #controls {
      @include span-columns(10);
      @include shift(1);
      text-align: right;

      > div, button {
        display: inline-block;
      }

      button {
        float: right;
        margin-left: flex-gutter();
      }

      .dropdown {
        .dropdown-description, .dropdown-button {
          font-size: 1em;
        }

        .dropdown-menu {
          top: auto;
          bottom: $dropdown-distance-from-menu;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  &.run\.index {
    div.code, div.output {
      @include span-columns(6);

      @include media($small-display) {
        @include span-columns(12);
      }

      h3, pre {
        @include span-columns(12);
      }
    }

    div.code {
      h3 {
        @include span-columns(6);
      }

      #controls {
        @include span-columns(6);
        text-align: right;
        margin: 1.3em 0 1.3em 0;
        font-size: 0.9em;
        height: 1.55em;
      }

      pre {
        margin-bottom: 0;
      }

      @include direction-context(right-to-left) {
        .metadata {
          @include fill-parent();
          @include row(table);
          background-color: darken($code-bg, 10);
          font-size: 0.6em;
          padding: 0.5em;

          .created_at {
            @include span-columns(7);
            @include pad(0 default 0 0);
          }

          .right_metadata {
            @include span-columns(5);
            text-align: right;

            .exit_code {
              &:before {
                content: "Exited with: ";
              }

              &:after {
                content: " | "
              }
            }

            .language {
            }
          }
        }
      }
    }
  }
}
