{{textarea value=model.code autofocus='1'}}

{{language-select languages=languages languageId=languageId id='language' action="updateRequest"}}
<button {{action 'submit'}}>Compile &amp; run code</button>