args = [
  "<%= path %>",
  "-p",
  "-d", "/dev/null:rw,/dev/random:r,/dev/urandom:r",
  "-u", "<%= name %>",
  <% if memory %>
    "-m", "<%= memory %>",
  <% end %>
 "-t", "<%= timeout %>",
 "-S", "<%= whitelist %>",
  "--",
  "<%= binary %>"
]
args += ARGV
process = Process.new "/usr/bin/playpen", args, input: true, output: true, error: true
exit process.wait.exit_code
